.txtComic{
  text-align: center;
  font-size: 5em;
  text-decoration: underline;
}

._containSelect{
  width: 100%;
  text-align: center;
  ._selectYearComic{
    margin: 20px;
    width: 250px;
    height: 37px;
    border-radius: 10px;
    outline: none;
    margin-top: 0;
  }
}


.txtEnjoy{
  font-size: 3em;
}
