<p class="txtComic">COMICS</p>

<p class="text-center txtEnjoy">Enjoy the little histories and make your imagination fly...</p>
<div class="_containSelect">
  <select
  class="_selectYearComic"
  [(ngModel)]="selectComic"
  (ngModelChange)="SelectComic($event)"
  >
    <option value="0">Select comic year</option>
    <option value="{{ year }}" *ngFor="let year of yearsComics; let i = index">{{ year }}</option>
  </select>
</div>

<app-show-comic *ngIf="search"></app-show-comic>

<app-search-comic *ngIf="!search" [items]="searchComic"></app-search-comic>
